# POSTGRES
POSTGRES_USER=mapeia_focos
POSTGRES_PASSWORD=12345678
POSTGRES_DB=mapeia_focos
POSTGRES_PORT=5432

# APP
PORT=8000
DATABASE_URL=postgresql://mapeia_focos:12345678@localhost:5432/mapeia_focos

# CLOUDFLARE R2
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=mapeia-focos-media
